@model NewMoviesVM
@using eTickets.Data;
 
@{
    ViewData["Title"] = "Update movie";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Update Movie</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="startDate" class="control-label"></label>
                                <input asp-for="startDate" type="date" class="form-control" />
                                <span asp-validation-for="startDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="endDate" class="control-label"></label>
                                <input asp-for="endDate" type="date" class="form-control" />
                                <span asp-validation-for="endDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="price" class="control-label"></label>
                                <input asp-for="price" type="number" class="form-control" />
                                <span asp-validation-for="price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="imageURL" class="control-label"></label>
                                <input asp-for="imageURL" class="form-control" />
                                <span asp-validation-for="imageURL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="cinemaId" class="control-label"></label>
                                <select asp-for="cinemaId" class="form-control" asp-items="ViewBag.Cinemas"></select>
                                <span asp-validation-for="cinemaId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="movieCategory" class="control-label"></label>
                                <select asp-for="movieCategory" class="form-control" asp-items="Html.GetEnumSelectList<MovieCategory>()"></select>
                                <span asp-validation-for="movieCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="producerId" class="control-label"></label>
                                <select asp-for="producerId" class="form-control" asp-items="ViewBag.Producers"></select>
                                <span asp-validation-for="producerId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="actorIds" class="control-label"></label>
                                <select asp-for="actorIds" class="form-control" asp-items="ViewBag.Actors" multiple></select>
                                <span asp-validation-for="actorIds" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="description" class="control-label"></label>
                                <textarea asp-for="description" class="form-control"></textarea>
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img style="width:100%" id="imageURLPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function(){
             var output = document.getElementById("imageURLPreview");
            output.src = $("#imageURL").val();
        })

        $("#imageURL").on("change", function () {
            var output = document.getElementById("imageURLPreview");
            output.src = $(this).val();
        })
    </script>
}